html, body {
  margin:0;
  padding:0;
  -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
  background-size: cover;
  height: 100%;
}

header {
	background: url('51H.jpg') no-repeat center fixed;
	height: 700px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
  background-size: cover;
}

#navbar-collapse{
	border-color: #fff;
	margin-left: -30px;
}


a {
	margin-left:15px;
}

p { 
	font-size: 22px;
	font-style: sans-serif;	
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 100;
}

h2 {
	text-align: center;
}

.navbar.navbar-inverse {
	background-color: transparent;
  border:0px; 
  padding-top:35px;
} 

.navbar-toggle {
	float: none;
	background: transparent;
}

.navbar-inverse .navbar-toggle {
	background-color: transparent;
	border:0px;
	background: none;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
 background:transparent;
 border-color: #616161;
 border-radius: 0px;
}

.jumbotron {
  background-color: transparent;
  color: white;
  text-align: center;
  margin-top: 0%
}

.jumbotron h1 {
	font-family: 'blackjackregular';
	text-shadow: 4px 4px #000000;
	font-size: 75px;
}

.photo-of-me {
	text-align: center;
}

#skills {
	text-align: center;
}

.skill-label {
	font-size: 24px;
	font-weight: 100;
}

.glyphicon {
	font-size: 1.35em;
	color: #4E4E4E;
}

.about {
	text-align: center;
	padding: 0 50px;
}


#footer {
	height:675px;
	color:white;
	background-color: rgba(36,32,33,0.9);
	font-family:"Helvetica Neue", Helvetica;
	padding-top: 20px;
	font-weight:100;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;
}

.social-button {
	width: 25px;
	margin:5px;
}

.clr{
  width:100%;
  height:0px;
  clear:both;
}

.esquina {
	padding-top: 15px;
	
}

.esquina span {
	font-size: 18px
}

.btn-2 {
	padding: 10px 15px 10px 15px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	border-radius:0px;
	background: none;
	border: 1px solid #fff;
	color: #fff; 
	width: 120px;
	display: block;
}
 
.btn-1 {
	padding: 14px 24px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: none;
  border: 0px solid #fff;
  color: #fff;
  transition: all 0.5s;  
  display: inline-block;
}
  
.btn-1:hover{
	text-shadow: 0px 6px 2px rgba(0,0,0,0.5);
	letter-spacing: 5px;
	font-size: 1.15em;
}  

.row [class*="-6"] {
   /* the following is just used to show grid*/
	background-color:#eee;
}


.no-gutter {
	padding-left:0;
	padding-right:0;
}

 
 


 


