html, body {
  margin:0;
  padding:0;
  -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
  background-size: cover;
  height: 100%;
  font-family: "Courier New", Courier, monospace
}

header {
	background: url('51H.jpg') no-repeat center center;
	height: 650px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
  background-size: cover;
}

section {
	background-color: #E7E7E7;
	margin-top:0; 
}

section .work {
	-webkit-box-shadow: 0 12px 6px -6px #111111;
	-moz-box-shadow: 0 12px 6px -6px #111111;
	box-shadow: 0 12px 6px -6px #111111;
}

#navbar-collapse{
	border-color: #fff;
	margin-left: -30px;
	overflow: hidden;
}

h3 {
	font-weight: 700;
}

a {
	margin-left:1em;
}

p { 
	margin: 1em 0 1em 0;
	font-size: 22px;
	font-style: sans-serif;	
	font-weight: 200;
}

.firstcharacter { 
	color: #515151; 
	font-size: 75px; 
	line-height: 10px; 
	font-family: Georgia; 
}

.navbar.navbar-inverse {
	background-color: transparent;
  border:0px; 
  padding-top:35px;
} 

.navbar-toggle {
	float: none;
	background: transparent;
}

.navbar-inverse .navbar-toggle {
	background-color: transparent;
	border:0px;
	background: none;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
 background:transparent;
 border-color: #616161;
 border-radius: 0px;
}

.jumbotron {
  background-color: transparent;
  color: white;
  text-align: center;
}

.jumbotron h2 {
	font-family: 'blackjackregular';
	text-shadow: 4px 4px #000000;
	font-size: 60px;
}

.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}

.about {
	text-align: center;
	margin: 0;
	padding: 0;
}

.about-me {
	padding: 2em 1em 1em 1em;
	text-align: justify;
}

.skill-unit {
	font-weight: 100;
	font-size:22px;
}

.skill-lockup h3 {
	margin-bottom: 1em;
}

.progress {
	margin: 0.5em 1.5em 0.5em 1.5em;
	height: 10px;	
	background-color: #E7E7E7;
}

.experience-unit {
	margin: 2em 0 3em 0;
	padding: 0 2em 0 2em;
}

.experience-unit p {
	margin-bottom: 1em;
}

.experience-unit .lady-photo,
.experience-unit .hose-photo {
	margin-top: 1.5em;
}

.img-thumbnail,
	.hose-photo {
	-webkit-box-shadow: 0 8px 6px -6px #111111;
	-moz-box-shadow: 0 8px 6px -6px #111111;
	box-shadow: 0 8px 6px -6px #111111;
	border: 2px solid black;
}	

.hose-photo h3 {
	font-weight:100;

}

.lady-look {
	text-align:right;
}

.lady-tell, .firehose-tell {
	text-align: justify;
}

.social-button {
	width: 25px;
	margin:5px;
}

.clr{
  clear:both;
}

#footer {
	height:auto;
	color:white;
	background-color: rgba(36,32,33,0.8);
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	font-weight:200;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;
}

.esquina {
	padding: 2em 0 2em 0;
}

.esquina span {
	font-size: 18px
}

.foto {
	padding: 2em 0 2em 0;
}

.foto span {
	font-size: 18px
}

.btn-2 {
	padding: 0.5em 1em 0.5em 1em;
	font-weight: 700;
	letter-spacing: 1px;
	border-radius:5px;
	background: none;
	border: 2px solid #5BC0DE;
	color: #111; 
}

.btn-2:hover {
	background: none;
	text-decoration: none;
	border: 3px solid #5BC0DE;
}
 
.btn-1 {
	padding: 14px 24px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: none;
  border: 0px solid #fff;
  color: #D3145A;
  transition: all 0.5s;  
  display: inline-block;
}

.btn-1:hover {
	text-shadow: 0px 5px 2px rgba(0,0,0,0.5);
	letter-spacing: 4px;
	font-size: 1.25em;
}  

