.navbar.navbar-inverse {
	  background:rgba(0,0,0, 0.0);
	  border:0px;
	  border-radius: 0;
    padding-top:10px;
    height: 75px;
 }   

.hero {
	background: url('cat-obscured.jpg') no-repeat center fixed;
	height: 750px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
  background-size: cover;
}










